nav::after {
	background: red;
	position: absolute;
	width: 100%;
	content: " ";
	top: 0;
	z-index: -1;
	height: 100%;
	opacity: 0.13;
	filter: alpha(opacity=13);
	display: block;
}
/* .cart,
.sign {
	display: flex;
	justify-content: flex-end;
} */

.cart::before,
.sign::before {
	content: "";
	border-left: 1px solid #c7bbc947;
	height: 100%;
	margin-left: 5px;
	padding-left: 5px;
	position: absolute;
	top: 0;
}

.breadcrumb-item + .breadcrumb-item::before {
	font-size: 12px;
}

.star::before {
	content: "\2605\2605\2605\2605\2605";
	color: yellow;
}

.review::before {
	content: "";
	border-left: 1px solid #c7bbc947;
	margin-right: 10px;
}
